/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-monospace: 'Fira Code', monospace !default;
$presentation-heading-font: "Open Sans", sans-serif !default;
$presentation-title-slide-text-align: left;
$presentation-heading-font-weight: 300;
$code-block-font-size: 0.90em;

// colors
$body-bg:      #F2F0E3;
$body-color:   #2E2E2E;
$code-color:   #9a4665;
$selection-bg: #93bdbf;
$link-color:   #F76E53;

// dark colors
$dark-bg-text-color:	#F0F0F0;
$dark-bg-code-color:	#cca2b2;
$dark-bg-link-color:	#93bdbf;

/*-- scss:rules --*/

/*-- TITLE SLIDE --*/

.reveal .custom-title {
  position: absolute;
  font-size: 2.8em;
  font-weight: bold;
  text-align: left;
  left: 20px;
  top: -150px;
  line-height: 1.2em;
}

.reveal .custom-author {
  position: absolute;
  font-size: 1.5em;
  text-align: left;
  left: 20px;
  top: 300px;
}

.reveal .custom-url-nhprr {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 20px;
  top: 390px;
}

.reveal .custom-url-mbl {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 20px;
  top: 450px;
}

.reveal .title-date {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 20px;
  top: 510px;
}

/*-- MORE CUSTOMIZATION --*/

.reveal .custom-aside {
  position: absolute;
  text-align: left;
  font-size: 0.7em;
  left: 20px;
  top: 650px;
}

.reveal .slide .custom-slide-aside {
  position: absolute;
  text-align: left;
  font-size: 0.2em;
  left: 20px;
  top: 650px;
}

.highlight-last  {
  color: #2E2E2E;
  .current-fragment {
    color: #2E2E2E;
    font-weight: bold;
  }
}

details>summary {
  font-size: 0.75em;
}


.medium {
  font-size: 0.85em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .in-out {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  font-family: $font-family-monospace;
  font-size: 0.6em;
}

.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #ccddeb;
}

.reveal iframe {
  height: 900px;
  width: 900px;
}

.bold {
  font-weight: bold;
}

/*-- THEMING --*/

.dark {
  color: #D1CFC0;
  h1, h2, h3 {
    color: #D1CFC0;
  }

  a {
    color: #00e0e0;
  }

  p code {
    color: #ffd700;
  }

  .slide-background-content {
    background-color: #1F1F1F;
  }

  .highlight-last  {
  color: #D1CFC0;
  .current-fragment {
    color: #D1CFC0;
    font-weight: bold;
  }
}

    .callout-caption {
    color: $body-color;
  }

  pre {
    background-color: #272822;
  }

  pre code {
    background-color: #272822;
    color: #d6d6d6;
  }

  pre.sourceCode code {
      background-color: #2b2b2b;
      padding: 6px 9px;
      max-height: 500px;
      white-space: pre
  }

  pre > code.sourceCode > span {
    color: #f8f8f2;
  }

  code span {
    color: #f8f8f2;
  }

  code.sourceCode > span {
    color: #f8f8f2;
  }

  div.sourceCode,
  div.sourceCode pre.sourceCode {
    color: #f8f8f2;
  }

  code span.ot {
    color: #ffa07a;
  }

  code span.at {
    color: #ffd700;
  }

  code span.ss {
    color: #abe338;
  }

  code span.an {
    color: #d4d0ab;
  }

  code span.fu {
    color: #ffd700;
  }

  code span.st {
    color: #abe338;
  }

  code span.cf {
    color: #ffa07a;
  }

  code span.op {
    color: #00e0e0;
  }

  code span.er {
    color: #dcc6e0;
  }

  code span.bn {
    color: #dcc6e0;
  }

  code span.al {
    color: #dcc6e0;
  }

  code span.va {
    color: #f5ab35;
  }

  code span.bu {
    color: #f5ab35;
  }

  code span.ex {
    color: #ffd700;
  }

  code span.pp {
    color: #dcc6e0;
  }

  code span.in {
    color: #d4d0ab;
  }

  code span.vs {
    color: #abe338;
  }

  code span.wa {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.do {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.im {
    color: #f8f8f2;
  }

  code span.ch {
    color: #abe338;
  }

  code span.dt {
    color: #dcc6e0;
  }

  code span.fl {
    color: #f5ab35;
  }

  code span.co {
    color: #d4d0ab;
  }

  code span.cv {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.cn {
    color: #ffa07a;
  }

  code span.sc {
    color: #00e0e0;
  }

  code span.dv {
    color: #dcc6e0;
  }

  code span.kw {
    color: #ffa07a;
  }
}
